body {
    background-color: wheat;
    padding: 10px;
    margin: 0;
    min-height: 100px;
    min-width: 250px;
    max-width: 300px;
    overflow: scroll;
    scrollbar-width: thin;
}

#savedNotes {
    max-height: inherit;
}

.txtarea {
    width: 97%;
    resize: none;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5px;
    scrollbar-width: thin;
    padding: 5px;
}

.note {
    margin: 5px 2px;
    border: 2px solid black;
    padding: 5px;
    overflow-wrap: break-word;
    font-size: 13px;
    border-radius: 5px;
}

.note-message {
    max-height: 100px;
    overflow: auto;
    scrollbar-width: thin;
    padding: 2px;
}

.delete-btn {
    cursor: pointer;
    font-weight: bold;
    color: red;
    margin-left: 10px;
}